@font-face {
  font-family: "Rubik";
  src: url("rubik-2.101.woff2");
  font-display: swap;
}

a {
  color: inherit;
}

body {
  margin: 0px;

  background-color: #0a0a0a;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

input {
  font-family: inherit;
}
